<div class="body-content-container">
    <div class="tab-content-header">
        <ul class="bread-crumb-nav">
            <li class="crumb-nav-left crumb-nav-action" ui-sref="aep.loc.group_list">小组列表</li>
            <li class="crumb-nav-interval">/</li>
            <li class="crumb-nav-title" ng-bind="title"></li>
        </ul>
    </div>
    <div class="data-content-body row">
        <form class="form-horizontal" name="groupForm">
            <div class="form-group">
                <label class="col-lg-3 control-label"><span class="font-dot-circle"></span>小组名称：</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control name-control" ng-model="groupName" placeholder="请填写小组名称" ng-blur="checkName()" required >
                </div>
                <span class="col-lg-4 form-control-static font-error"
                ng-messages="groupForm.groupName.$dirty && groupForm.groupName.$error">
              <span ng-message="required">小组名称不能为空</span>
          </span>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label"><span class="font-dot-circle"></span>联系人姓名：</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control name-control" ng-model="linkName" placeholder="请填写联系人姓名" ng-maxlength="16" maxlength="16" required >
                </div>

              <span class="col-lg-4 form-control-static font-error"
                    ng-show="groupForm.linkName.$dirty &&groupForm.linkName.$invalid">
                    <span ng-show="groupForm.linkName.$error.required">联系人姓名不能为空</span>
                    <span ng-show="groupForm.linkName.$error.maxlength">联系人姓名最大长度不超过16位</span>
                </span> 

            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label"><span class="font-dot-circle"></span>联系人电话：</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control name-control" ng-model="linkPhone" placeholder="请填写联系人电话" ng-pattern="/^1[3|4|5|6|7|8|9][0-9]{9}$/" required >
                </div>

              <span class="col-lg-4 form-control-static font-error"
                    ng-show="groupForm.linkPhone.$dirty &&groupForm.linkPhone.$invalid">
                    <span ng-show="groupForm.linkPhone.$error.required">手机不能为空</span>
                    <span ng-show="groupForm.linkPhone.$error.pattern">请输入正确的手机号</span>
                </span>
            </div>
        </form>
        <div class="submit-btn-box">
            <label class="col-lg-3"></label>
            <div class="col-lg-5">
                <div class="btn-content">
                    <button class="btn btn-com form-compile-btn btn-submit" ng-disabled="groupForm.$invalid ||errorTimeMsg" click-Disable="saveData()"><i class="fa fa-floppy-o">&nbsp;</i>提交</button>
                    <button class="btn btn-com form-compile-btn btn-close" ng-click="backPage()"><i class="fa fa-close">&nbsp;</i>取消</button>
                </div>
            </div>
            
        </div>
    </div>
</div>